.partialUseful {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0.4rem 0;
  .col {
    width: 50%;
    text-align: center;
    align-items: center;
    // 有用没用的数字
    .num {
      font-size: 0.4267rem;
      &.no {
        color: #ff5c58;
      }
      &.yes {
        color: #32ba8f;
      }
    }
    // 灰色按钮（未来可考虑全局复用）
    .btn {
      height: 0.6133rem;
      line-height: 0.6133rem;
      width: 1.52rem;
      text-align: center;
      border: 1px solid #eee;
      color: #666;
      background: #fff;
      font-size: 0.32rem;
      border-radius: 0.3067rem;
      margin-top: 0.24rem;
    }
  }
}
